/* 웹 전체에 적용할 내용 */
body {
  font-family: "Nanum Gothic", sans-serif;
  line-height: 24px;
  color: #707070;
  /* 코딩 후 삭제필수 */
  height: 4000px;
}
img {
  /* a태그와 img태그간의 크기차이를 맞춰줌. 이유는 모름 */
  display: block;
}
a {
  text-decoration: none;
}

/* 바디에 적용할 내용 */
.body__wrap {
  position: relative;
  width: 100%;
  min-width: 1500px;
  overflow-x: hidden;
}
/* 바디의 큰 섹션마다 적용할 내용 */
/* 배너, 뉴스 등 */
.section {
  position: relative;
  width: 100%;
  min-width: 1620px;
  background-color: #fff;
  line-height: 1.3;
}

header {
  /* z-index를 쓰려면 position값 필수! */
  position: relative;
}

/* 메인에 적용할 내용 */
main {
  position: relative;
  width: 100%;
  min-height: 580px;
}
/* -------------------------------------------------------- */

/* 헤더 */
.header__top {
  width: 100%;
  min-width: 1620px;
  height: 80px;
  display: block;
  background-color: #fff;
  border-bottom: 1px solid #bbb;
  position: absolute;
  z-index: 500;
}
/* 헤더 컨텐츠영역 */
.header__wrap {
  /* 돋보기 줄여도 가운데 있도록 */
  max-width: 1920px;
  margin: 0 auto;

  /* 서브메뉴 오른편 고정용도 */
  position: relative;

  /* 헤더 콘텐츠 일렬 나열 */
  display: flex;
}

/* 헤더 로고 */
.header__logo {
  padding: 27px 30px 0 50px;
}

/* 헤더 메인메뉴 */
.header__main-menu {
  height: 80px;
}
.header__main-menu > ul {
  display: flex;
  left: 0px;
}
.header__main-menu > ul > li {
  height: 53px;
  font-size: 18px;
  color: #282828;
  margin: 0 13px;
  padding: 27px 15px 0;
}
.header__main-menu > ul > li:hover {
  height: 49px;
  border-bottom: 4px solid #1f4787;
  color: #1f4787;
  cursor: pointer;
}

.header__main-menu > ul > li:hover {
  height: 49px;
  border-bottom: 4px solid #1f4787;
  color: #1f4787;
  cursor: pointer;
}

/* 호버시 확장되는 메인 메뉴*/
.main-menu .menu-list {
  width: 100vw;
  height: 100%;
  top: 81px;
  left: 0;
  right: 0;
  position: absolute;
  /* 확대시 문제됨.. */
  margin-left: calc(-50vw + 50%);
  display: none;
}

.main-menu .prod {
  width: 100%;
  /* min-width: 50%; */
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  /* 메뉴마다 다른부분 */
  height: 370px;
  justify-content: center;
}

.prod__top {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  color: #707070;
  font-size: 14px;
  line-height: 2;
}

/* 제품메뉴 글씨색 */
.prod__top--left div,
.prod__top--right div,
.prod__top--right ul li:nth-child(1) {
  color: #000;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 4px;
}
.prod__top--left div,
.prod__top--right div {
  font-size: 16px;
}
.prod__top--left {
  width: 10%;
  max-width: 300px;
  padding-top: 12px;
}
.prod__top--left ul {
  margin-top: 14px;
}
/* 제품 메뉴 오른쪽 */
.prod__top--right {
  height: 100%;
  width: 65%;
  max-width: 1600px;
  display: flex;
  padding-left: 30px;
  padding-top: 12px;
  border-left: 1px solid #e5e5e5;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
}

.prod__top--right section:nth-child(2),
.prod__top--right section:nth-child(3),
.prod__top--right section:nth-child(4) {
  margin-top: 40px;
}

.prod__top--right section {
  width: 20%;
}

.prod__bottom {
  width: 100%;
  height: 20%;
  min-width: 1000px;
  display: flex;
  font-size: 16px;
  align-items: center;
  position: relative;
  border-top: 1px solid #e5e5e5;
  color: #1f4787;
  font-weight: 700;
}

.prod__bottom p {
  display: flex;
  position: absolute;
  right: 200px;
  align-items: center;
}

/* 헤더 서브메뉴 */
.header__sub-menu {
  height: 80px;
  /* 오른쪽 고정을 위해 */
  position: absolute;
  right: 0;
}
.header__sub-menu > ul {
  display: flex;
  padding-top: 28px;
  padding-right: 215px;
}
.header__sub-menu > ul > li {
  color: #707070;
  font-size: 12px;
  padding: 0 15px;
  display: inline-block;
}

.header__sub-menu > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__sub-menu > ul > li:nth-child(2),
.header__sub-menu > ul > li:nth-child(3),
.header__sub-menu > ul > li:nth-child(4) {
  background: url(./images/bg_gnb.png) no-repeat 0 -1px;
}
/* 패밀리사이트 화살표 */
.header__sub-menu > ul > li:nth-child(4) > span {
  display: inline-block;
  width: 10px;
  height: 16px;
  background: url(./images/bg_gnb.png) no-repeat -49px -34px;
  vertical-align: middle;
  margin-left: 8px;
}

/* 페이지 언어 선택 */
.header__sub-menu--loc > a > span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(./images/bg_gnb.png) no-repeat 0 -35px;
  vertical-align: middle;
  /* background-position: -25px -35px; 이건 hover됐을 때!*/
}
.header__sub-menu--loc > a:visited,
.header__sub-menu--loc > a:link {
  color: #707070;
}

/* 검색창 */
.header__sub-menu--ser {
  width: 153px;
  height: 21px;
  right: 50px;
  top: 27px;
  position: absolute;
  color: #a8a7a7;
  border: 1px solid #d8d8d8;
  padding-bottom: 4px;
  padding-left: 5px;
}
.header__sub-menu--ser > input {
  /* 테두리 안보이게 */
  border: none;
  /* 아이콘 침범하지 않게 */
  width: 103px;
  /* 활성화시 테두리 안보이게 */
  outline: none;
}
.header__sub-menu--ser .btn--remove {
  width: 14px;
  height: 14px;
  background: url(./images/bg_gnb.png) no-repeat -130px -35px;
  margin-left: 2px;
  margin-right: 1px;
  display: inline-block;
  vertical-align: middle;
}
.header__sub-menu--ser .btn--search {
  width: 14px;
  height: 14px;
  background: url(./images/bg_gnb.png) no-repeat -100px -35px;
  display: inline-block;
  vertical-align: middle;
}
/* -------------------------------------------------------- */
.banner {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  min-height: auto;
  /* 이미지 스크롤 없애기 */
  overflow: hidden;
}

/* 배너 이미지 컨테이너 */
.banner__img {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* 배너 이미지를 슬라이드할 넓은 바 개념 */
.banner__img .slider {
  width: 400%;
  height: 100%;
  display: flex;
  justify-content: center;
}
/* 배너 이미지 개별 슬라이드(애니메이션 적용) */
.banner__img .slider_test {
  width: 25%;
  height: 100%;
  position: relative;
}

.slider_ani {
  transition-duration: 600ms;
}

/* 배너 이미지 사이즈 및 위치 설정 */
.banner__img .images {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner__img .reduce_ani {
  animation: banner-reduce 3.6s linear infinite;
}

.banner__img .images.img01,
.banner__img .images.img04 {
  background-image: url(./images/img_main1.jpg);
}
.banner__img .images.img02 {
  background-image: url(./images/img_main2.jpg);
}
.banner__img .images.img03 {
  background-image: url(./images/img_main3.jpg);
}

/* 배너 이미지 축소 애니메이션 */
@keyframes banner-reduce {
  from {
    transform: scale(1.2);
  }
  to {
  }
}

/* 배너 텍스트 */
.banner--text {
  /* 배너 텍스트 위치잡기 */
  position: relative;
  padding-left: 60px;
  color: #fff;
  text-align: left;
  margin: 0 auto;
  height: 100%;
  top: 38%;
  /* 어디에 쓰였더라*/
  width: 100%;
  max-width: 1600px;
  max-height: 1100px;
}
/* 배너 텍스트 큰 글씨 */
.heading__text {
  font-size: 60px;
  font-weight: 700;
}
/* 배너 텍스트 큰 글씨 두번째줄 정렬 */
.heading__text > p:nth-child(2),
.heading__text div {
  display: inline-block;
}
/* 배너 텍스트 파란글씨 위치잡기 */
.heading__text div {
  position: relative;
  width: 200px;
  bottom: -20px;
}
/* 배너 텍스트 파란글씨 애니메이션 */
.text--show {
  color: #149eff;
  position: absolute;
  animation: txt-slide 3.6s linear infinite;
}
.text--clear {
  display: none;
}
@keyframes txt-slide {
  0% {
    bottom: 60px;
    opacity: 0;
  }
  30% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 0;
  }
}
/* 배너 텍스트 작은글씨 */
.desc__text {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 40px;
}
/* -------------------------------------------------------- */
.news {
  max-width: 1920px;
  min-height: 870px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.news__container {
  display: flex;
  width: 100%;
  min-width: 1740px;
  height: 100%;
  justify-content: center;
}
.news__nav {
  padding-top: 5%;
  max-width: 250px;
  width: 100%;
}

.news__nav h2 {
  color: black;
  font-size: 70px;
  font-weight: 700;
  margin-top: 110px;
  margin-bottom: 70px;
  line-height: 1;
}

.news__nav--menu li {
  margin-top: 18px;
  font-weight: 400;
  font-size: 22px;
  color: #666;
  text-align: left;
  display: flex;
  align-items: center;
}

.news__nav--menu li:hover {
  color: #1a4ab9;
  cursor: pointer;
}

.news__nav--menu li span {
  display: flex;
  color: white;
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-left: 10px;
  align-items: center;
}

.news__nav--menu li:hover span {
  background-color: #1a4ab9;
  border-radius: 50%;
}

.news__wrap {
  max-width: 1350px;
  height: 100%;
  width: 100%;
}

.news__wrap--top,
.news__wrap--bottom {
  height: 100%;
  width: 100%;
  display: flex;
  float: right;
  justify-content: right;
}

.news01 {
  display: none;
}

.news02,
.news04,
.news06 {
  background-color: #f7f9fb;
}

.news__contents {
  position: relative;
  width: 450px;
  height: 450px;
  transition: 200ms ease;
}

.news__contents--head {
  display: flex;
  padding: 50px 50px 0;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #222;
}

/* .news__contents:nth-child(4)  */
.head__icons {
  width: 60px;
  height: 60px;
  background-size: cover;
  margin-right: 10px;
}

.icon--press {
  background-image: url(./images/ico_press.png);
}

.icon--letter {
  background-image: url(./images/ico_letter.png);
}

.icon--blog {
  background-image: url(./images/ico_blog.png);
}

.news__contents--text {
  position: absolute;
  left: 50px;
  width: calc(100% - 140px);
  height: 100%;
  max-height: 205px;
  vertical-align: top;
  word-break: keep-all;
  bottom: 70px;
}

.news__contents--text h4 {
  height: 60px;
  font-size: 22px;
  font-weight: 700;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  color: #000;
}

.news__contents--text p {
  max-height: 120px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.news__contents:hover {
  background-color: #1a4ab9;
}
.news__contents:hover,
.news__contents:hover .news__contents--head,
.news__contents:hover .news__contents--text h4,
.news__contents:hover .news__contents--text p {
  color: white;
}

.news__contents:hover .icon--press {
  background-image: url(./images/ico_press_hover.png);
}

.news__contents:hover .icon--letter {
  background-image: url(./images/ico_letter_hover.png);
}

.news__contents:hover .icon--blog {
  background-image: url(./images/ico_blog_hover.png);
}

/* -------------------------------------------------------- */

/* 슬로건 */
.slogan {
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  min-width: 1620px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.row {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.inner {
  width: 100%;
  height: 100%;
  width: calc(100% - 60px);
  position: relative;
  max-width: 1400px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure {
  position: absolute;
  width: 544px;
  height: 544px;
}

.infiniteRotating {
  max-width: 100%;
  animation: rotate_image 25s linear infinite;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.slogan__text {
  display: none;
  width: 88%;
  color: #000;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 20px;
}

.slogan__text p:nth-child(1) {
  text-align: left;
}

@keyframes slide1 {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

.slogan__text p:nth-child(2) {
  text-align: right;
}

@keyframes slide2 {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

.slogan__text p:nth-child(3) {
  font-size: 30px;
  margin-top: 50px;
}

@keyframes slide3 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
/* -------------------------------------------------------- */
.half-slide {
  width: 100%;
  height: 100vh;
  display: flex;
}

.half-slide section {
  width: 50%;
  height: 100%;
}

.half-slide--left {
  background-color: #1a4ab9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.half-slide--left .left__text {
  display: flex;
  position: absolute;
  width: auto;
}

.half-slide .text-list {
  width: 527px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.half-slide .text-list .heading {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.2;
}

.half-slide .text-list .desc p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 40px;
}

.half-slide .text-list .desc span {
  display: block;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #f1c942;
}

.half-slide--right {
  width: 100%;
  height: 100%;
}

.right__image {
  width: 100%;
  height: 100%;
}

.half-slide--right .image-list {
  width: 100%;
  height: 100%;
  background: url("./images/award_cut04.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
